.container-1 {
    height: 750px;
}
.container-2 {
    height: 750px;
}
.container-3 {
    height: 500px
}
.container-4 {
    height: 750px;
}
body {
    color: rgb(0, 0, 0);
    background-color: rgb(168, 191, 255);
    font-family: 'Source Serif Pro', serif;
}
html {
    scroll-behavior: smooth;
    -webkit-appearance: none;
    overflow-x: hidden;
}
img {
    position: absolute;
    cursor: default;
    position: fixed;
    width: 160px;
    height: 160px;
    top: -1%;
    left: -0.3%;
    z-index: 30;
}
.sns {
    position: fixed;
    right: 1.5%;
    top: 25px;
    cursor: default;
    z-index: 30;
}
.sns-2 {
    display: none;
}
.twitter-a {
    margin: 0 13px;
}
.fa-twitter-square {
    cursor: pointer;
    color: white;
}
.fa-instagram-square {
    cursor: pointer;
    color: white;
}
.copy {
    text-align: left;
    display: inline-block;
    color:  rgb(78, 141, 112);
    font-size: 60px;
    padding-top: 160px;
    text-shadow: 3px 0px white;
    width: 50%;
    cursor: default;
    position: relative;
}
.scrolldown {
    top: 640px;
    position: absolute;
    left :50%;
    width: 40px;
    height: 40px;
    transform : translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrolldown span {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    animation: scroll 1.5s linear infinite;
    opacity: 0;
}
.scrolldown span:nth-child(1) {
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
    transform: translate(0px,0px);
    animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
    transform: translate(15px,15px);
    animation-delay: -0s;
}
@keyframes scroll {
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
}
ul {
    position: fixed;
    bottom: 2%;
}
li a{
    text-decoration: none;
    display: block;
    width: 75px;
    text-align: center;
    border: 2px solid white;
    padding: 0px 3px;
    color: black;
    background-color: #fff;
}
li :hover {
    border: 2px solid black;
    padding: 0px 3px;
    background-color: black;
    color: white;
}
li {
    list-style: none;
    font-size: 19px;
}
li :active {
    color: black;
    background-color: white;
    border-color: white;
}
.title {
    color:rgb(78, 141, 112);
    font-size: 40px;
    padding: 110px 0 40px 20%;
    cursor: default;
    text-shadow: 2.2px 0px white;
}
.site-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.mom {
    text-align: center;
}
.sub-title {
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
}
.site-jp {
    font-size: 13px;
    text-align: left;
    display: inline-block;
    width: 45%;
    padding-bottom: -50px;
}
.skills {
    font-size: 13px;
    text-align: left;
    display: inline-block;
    width: 45%;
}
.contact-details {
    font-size: 13px;
    text-align: center;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}
form {
    padding: 1px  0;
    text-align: center;
    font-size: 13px;
    -webkit-appearance: none;
}
input {
    width: 50%;
    height: 27px;
}
textarea {
    width: 50%;
    height: 100px;
}
.submit-hover {
    text-align: center;
}
.submit {
    width: 50%;
    height: 27px;
    -webkit-appearance: none;
    margin-top: 3px;
    background-color: #fff;
    cursor: pointer;
}
.submit-hover :hover {
    background-color: rgb(167, 167, 167);
}
.submit-hover :active {
    background-color: rgb(80, 80, 80);
}
.star-section {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -5;
}
.star-section .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: animate 8s ease-in-out infinite,
               backgroungmove 16s linear infinite;
}
.star-section .star.star1 {
    animation-delay: 0;
    background: url(star1.png);
}
.star-section .star.star2 {
    animation-delay: -1s;
    background: url(star2.png);
}
.star-section .star.star3 {
    animation-delay: -2s;
    background: url(star3.png);
}
.star-section .star.star4 {
    animation-delay: -3s;
    background: url(star4.png);
}
.star-section .star.star5 {
    animation-delay: -4s;
    background: url(star5.png);
}
.star-section .star.star6 {
    animation-delay: -5s;
    background: url(star6.png);
}
.star-section .star.star7 {
    animation-delay: -6s;
    background: url(star7.png);
}
.star-section .star.star8 {
    animation-delay: -7s;
    background: url(star8.png);
}
@keyframes animate {
    0%,20%,40%,60%,80%,100% {
        opacity: 0;
    }
    10%,30%,50%,70%,90% {
        opacity: 1;
    }
}
@keyframes backgroungmove {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}
@media (max-width: 1055px) {
    .copy {
        font-size: 55px;
        padding-top: 150px;
        width: 60%;
    }
    img {
        width: 160px;
        height: 160px;
        top: -1%;
        left: -0.3%;
    }
    .sns {
        right: 1.5%;
        top: 15px;
    }
    ul {
        bottom: 2%;
        margin-left: -15px;
    }

}
@media (max-width: 930px) {
    .copy {
        font-size: 50px;
        padding-top: 150px;
        width: 55%;
    }
    .title {
        font-size: 40px;
        padding: 110px 0 40px 0;
        text-align: center;
    }
}
@media(max-width: 890px) {
    .copy {
        font-size: 47px;
        padding-top: 150px;
        width: 55%;
    }
    img {
        width: 160px;
        height: 160px;
        top: -1%;
        left: -0.3%;
    }
}
@media (max-width:832px) {
    img {
        width: 160px;
        height: 160px;
        top: -1%;
        left: -0.3%;
    }
    .copy {
        font-size: 47px;
        padding-top: 150px;
        width: 55%;
    }
}
@media(max-width: 763px) {
    .copy {
        font-size: 45px;
        padding-top: 150px;
        width: 55%;
    }
}
@media(max-width: 711px) {
    .copy {
        font-size: 42px;
        padding-top: 150px;
        width: 55%;
    }
}
@media(max-width: 680px) {
    img {
        width: 125px;
        height: 125px;
        top: -1%;
        left: -0.3%;
    }
    .sns {
        right: 1.5%;
        top: 25px;
    }
    .twitter-a {
        margin: 0 13px;
    }
    .copy {
        font-size: 45px;
        padding-top: 160px;
        width: 80%;
    }
    .scrolldown {
        bottom: 9px;
        left :50%;
        width: 40px;
        height: 40px;
    }
    .scrolldown span {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid white;
        border-right: 3px solid white;
    }
    .li {
        display: none;
    }
    .title {
        font-size: 36px;
        padding: 60px 0 20px 0;
    }
    .sub-title {
        line-height: 70px;
        font-size: 16px;
    }
    .site-jp {
        font-size: 13px;
        width: 80%;
    }
    .skills {
        font-size: 13px;
        width: 80%;
    }
    .contact-details {
        font-size: 13px;
        text-align: center;
        display: inline-block;
        padding-bottom: 20px;
        width: 100%;
    }
    form {
        padding: 0px  0;
        font-size: 10px;
    }
    input {
        width: 80%;
        height: 27px;
    }
    textarea {
        width: 80%;
        height: 100px;
    }
    .submit {
        width: 80%;
        height: 27px;
        margin-top: 3px;
    }
    .container-1 {
        height: 750px;
    }
    .container-2 {
        height: 750px;
    }
    .container-3 {
        height: 500px
    }
    .container-4 {
        height: 605px;
    }
}
@media(max-width: 463px) {
    img {
        width: 120px;
        height: 120px;
        top: -1%;
        left: -0.3%;
    }
    .copy {
        font-size: 40px;
        padding-top: 150px;
        width: 80%;
    }
    .title {
        font-size: 33px;
        padding: 60px 0 20px 0;
    }
    .sub-title {
        line-height: 70px;
        font-size: 14px;
    }
    .site-jp {
        font-size: 11px;
        width: 80%;
    }
    .skills {
        font-size: 11px;
        width: 80%;
    }
    .contact-details {
        font-size: 11px;
        text-align: center;
        display: inline-block;
        padding-bottom: 20px;
        width: 100%;
    }
}
@media(max-width: 400px) {
    img {
        width: 110px;
        height: 110px;
        top: -1%;
        left: -0.3%;
    }
    .copy {
        font-size: 36px;
        padding-top: 130px;
        width: 80%;
    }
    .scrolldown {
        top: 640px;
        position: absolute;
        left :50%;
        width: 30px;
        height: 30px;
        transform : translateY(-80px) translateX(-50%) rotate(45deg);
    }
    .scrolldown span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        animation: scroll 1.5s linear infinite;
        opacity: 0;
    }
}
@media(max-width: 350px) { 
    img {
        width: 100px;
        height: 100px;
        top: -1%;
        left: -0.3%;
    }
    .copy {
        font-size: 33px;
        padding-top: 100px;
        width: 80%;
    }
    .sns {
        display: none;
    }
    .sns-2 {
        display: inline-block;
        position: fixed;
        right: 1.5%;
        top: 20px;
        cursor: default;
        z-index: 30;
    }
    .twitter-a {
        margin: 0 5px;
    }
    .scrolldown {
        top: 560px;
    }
    .title {
        font-size: 33px;
        padding: 60px 0 20px 0;
    }
    .sub-title {
        line-height: 70px;
        font-size: 14px;
    }
    .site-jp {
        font-size: 10px;
        width: 80%;
    }
    .skills {
        font-size: 10px;
        width: 80%;
    }
    .contact-details {
        font-size: 10px;
        text-align: center;
        display: inline-block;
        padding-bottom: 20px;
        width: 100%;
    }
}
